.header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  box-shadow: 0px 3px 5px 1px #1b1e2481;
  margin-bottom: 50px;
}

.header_icon {
  padding: 20px;
}
